.casilla  {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #6d597a solid;
    height: 200px;
    width: 200px;
    font-size: 100px;
    background-color: #f7dba7;
    color: #fafafa;
    font-weight: 400;
}

.X {
 background-color: 	#e56b6f;

}

.O {
    background-color: #355070;

}